/* Reset */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin:0;
}

/* Variables */

:root {
    --main-color: #54b689;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}

/* General */

.highlight {
    color: var(--main-color);
}

.img-mobile {
    height: 300px;
    width: 200px;
}

.img-desktop {
    height: 250px;
    width: 450px;
}    

/* Containers */

#container {
    display: flex;
    color: var(--main-text-color); 
}

#bio-container {
    flex: 0 1 30%;
    min-height: 100vh;
    width: 300px;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#bio-container #welcome-text {
    font-weight: bold;
}

#bio-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#social-container {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding: 0;
    padding-bottom: 25px;
}

#social-container li {
    max-width: 50px;
    padding: 5px;
}

#social-container li a {
    color: var(--main-color);
    font-size: 30px;
}

#email-container {
    display: flex;
    justify-content: center;
} 

#email-container a {
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--main-color);
    text-decoration: none;
    max-width: 300px;
}

#email-container ion-icon {
    color: var(--main-color); 
    font-size: 20px;
    margin-right: 5px;
    max-width: 20px;
}

.video-container {
  text-align: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain; /* garante que ele não estique ao entrar em fullscreen */
}

/* about container */

section#about-container {
    margin: 5vh; 
    color: var(--bio-bg-color);
}

#about-container li {
    max-width: 70vw;
}

#name {
    font-size: 42px;
    margin-bottom: 15px;
}

p.description {
    color: black;
    /*max-width: 90%;*/
    margin-bottom: 15px;
}

.skills-box {
    display: flex;
    align-content: center;
    margin-top: 20px;
}

.skills-box i {
    font-size: 40px;
    margin-left: 20px;
    align-self: center;
}

.skills-box img {
    max-height: 500px;
    max-width: 220px;
    margin-left: 20px;
    align-self: center;
}


.skills-title{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
}

.video-container {
    padding-top: 10px;
}

video {
    max-width: 90%;
    object-fit: inherit;
}

iframe {
    max-width: 90%;
    height: 600px;
}


/* Mobile */

@media(max-width: 450px) {


    #container {
        flex-direction: column;
    }

    #bio-container {
        width: 100%;
    }
    #bio-container p {
        max-width: 90%;
        margin: 10px auto;
        line-height: 20px;
    }

    #about-container {
        text-align: justify;    
    }

    #about-container ol {
        padding: 0;
    }

    .skills-box img,  .skills-box i {
        display: none;
    }

    ul.curriculum {
        padding: 0;
    }


    #about-container .description {
        margin: 10px auto;
        max-width: 100%;
        line-height: 26px;
    }

    iframe {
        width: 90%;
    }

    #about-container li {
        max-width: 100vw;
    }

}
